{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "node": "4.3"
        }
      }
    ]
  ],
  "plugins": [
    "array-includes",
    "external-helpers",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}
